pkgbase = projectwarrior
	pkgdesc = A tool to guide a user through a thorough weekly review in the GTD format.
	pkgver = 0.3.2
	pkgrel = 2
	url = https://github.com/jonathanabennett/projectwarrior
	install = projectwarrior.install
	arch = x86_64
	license = MIT
	depends = quicklisp
	depends = sbcl
	source = https://github.com/jonathanabennett/projectwarrior/archive/refs/tags/v0.3.2.tar.gz
	source = build-projectwarrior.sh
	source = project.sh
	source = projectwarrior.install
	source = sbclrc
	sha256sums = b99a450df6fcfd8cd0731c98055720397fc9e2b163785c5978b04f4ae95b7e1a
	sha256sums = 4d43ed8506ff55e45cce852d2eb25d35a9a96e7bf1d2229df55e88769ee5cfad
	sha256sums = 09872180fb87aefa125edb49bb1d69eacc6220f16193b693959d1a8b83129d79
	sha256sums = e2b9f2f07cfeaea5ec663ef780d24f7ad1a7825744ed820f77249aa24f624aaa
	sha256sums = 55f0a43e79aa754015c1d0c78627a79cc12d883e40965e4b660b61af59531086

pkgname = projectwarrior
